/* Full-screen container */
.carousel-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Blurred background */
  .blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(20px); /* Add blur effect */
    z-index: -1; /* Place behind the carousel */
    /* opacity: 0; */
    transition: opacity 0.5s ease; /* Smooth transition */
  }
  
  .blurred-background.active {
    opacity: 1; /* Show when active */
  }
  
  /* Carousel */
  .carousel {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel img,
  .carousel video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; /* Ensure media fits without deformation */
    display: none;
  }
  
  .carousel img.active,
  .carousel video.active {
    display: block;
  }
  
  /* Finish button */
  .finish-button {
    position: fixed;
    bottom: -50px; /* Start hidden below the screen */
    right: 20px;
    padding: 12px 22px;
    background: linear-gradient(#ff1c1c, #fb6d6d);
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .finish-button.visible {
    bottom: 20px;
  }
  
  .finish-button:hover {
    transform: scale(1.05); /* Hover effect */
    background: linear-gradient(#ff7979, #ffc8c8);
  }
  
  .finish-button:active {
    transform: scale(0.95);
  }
  
  /* Media queries for the finish button */
  @media (max-width: 768px) {
    .finish-button {
      font-size: 0.9rem;
      padding: 8px 16px;
      right: 15px;
      bottom: -40px;
    }
  
    .finish-button.visible {
      bottom: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .finish-button {
      font-size: 0.8rem;
      padding: 6px 12px;
      right: 10px;
      bottom: -30px;
    }
  
    .finish-button.visible {
      bottom: 10px;
    }
  }